@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@font-face {
  font-family: "qualey_freeregular";
  src: url("/assets/fonts/qualey-regular/qualey-webfont.woff2") format("woff2"), url("/assets/fonts/qualey-regular/qualey-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

img, svg, video {
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}

header {
  padding-block: 20px;
  padding-inline: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
header .mobile_nav {
  display: flex;
  justify-content: space-between;
}
header .left {
  max-width: 180px;
}
header .a {
  display: flex;
  color: #fff;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  transform: translateY(3px);
}
header .a * {
  flex-shrink: 0;
}
header .a .icon_wrapper {
  transform: rotate(-45deg);
  transition: transform 0.2s ease-in;
}
header .a .absoulte_block {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 80px;
  padding: 7px;
  z-index: 1;
  background-color: #000;
  transform-origin: top;
  transform: translateY(100%) scaleY(0);
  transition: transform 0.2s ease-in;
}
header .a .absoulte_block a {
  white-space: nowrap;
  padding-inline: 5px;
  color: #fff;
  transition: color 0.2s ease-in-out;
}
header .a .absoulte_block a:hover {
  color: #f27221;
}
header .a:hover .icon_wrapper {
  transform: none;
}
header .a:hover .absoulte_block {
  transform: translateY(100%) scaleY(1);
}
header .middle ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
}
header .middle ul li a {
  color: #fff;
  font-size: 14px;
  transition: color 0.2s ease-in-out;
}
header .middle ul li a:hover {
  color: #f27221;
}
header .middle ul li a.active {
  color: #f27221;
  text-decoration: underline;
  text-underline-offset: 4px;
}
header .right ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 10px;
}
header .ham_wrapper {
  display: none;
}
header .ham_wrapper .lines_wrapper {
  position: relative;
  height: 50px;
  width: 50px;
  background: linear-gradient(128deg, rgb(250, 169, 101) 21%, rgb(242, 96, 40) 61%);
  cursor: pointer;
}
header .ham_wrapper .lines_wrapper .line {
  height: 3px;
  width: 30px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .ham_wrapper .lines_wrapper .line:before {
  content: "";
  height: 3px;
  width: 30px;
  background-color: #000;
  position: absolute;
  bottom: 9px;
}
header .ham_wrapper .lines_wrapper .line:after {
  content: "";
  height: 3px;
  width: 30px;
  background-color: #000;
  position: absolute;
  top: 9px;
}
header .ham_wrapper .mb_opptions_wrapper {
  position: fixed;
  right: 0;
  top: 0;
  right: 0;
  background-color: #f27221;
  width: 100%;
  max-width: 400px;
  z-index: 99;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  padding: 30px;
}
header .ham_wrapper .mb_opptions_wrapper .a {
  display: flex;
  text-transform: uppercase;
  font-size: 16px;
  margin-block: 20px;
}
header .ham_wrapper .mb_opptions_wrapper .a .absoulte_block {
  background: #000;
}
header .ham_wrapper .mb_opptions_wrapper .mobile {
  list-style: none !important;
  margin-left: 0;
  position: relative;
  padding-top: 100px;
  flex-direction: column;
}
header .ham_wrapper .mb_opptions_wrapper .mobile li {
  text-align: left;
}
header .ham_wrapper .mb_opptions_wrapper .mobile li a {
  font-family: var(--monument-extended-regular);
  text-transform: uppercase;
  margin-block: 20px;
  display: block;
  color: #fff;
}
header .ham_wrapper .mb_opptions_wrapper .mobile .close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
header .ham_wrapper .mb_opptions_wrapper.active {
  transform: translateX(0%);
}

.sec_1 {
  height: 100vh;
  padding-top: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
.sec_1 .section_wrapper {
  flex-shrink: 0;
  flex-grow: 1;
}
.sec_1 .section_wrapper .content_wrapper {
  color: #fff;
  max-width: 670px;
  margin-inline: auto;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 1300px) {
  .sec_1 .section_wrapper .content_wrapper {
    max-width: 700px;
  }
}
@media only screen and (min-width: 1500px) {
  .sec_1 .section_wrapper .content_wrapper {
    max-width: 750px;
  }
}
@media only screen and (min-width: 1904px) {
  .sec_1 .section_wrapper .content_wrapper {
    max-width: 910px;
  }
}
.sec_1 .section_wrapper .content_wrapper h2 {
  font-family: "qualey_freeregular";
  text-transform: uppercase;
  line-height: 0.97;
  font-size: clamp(30px, 8vw, 170px);
  overflow: hidden;
}
@media only screen and (min-width: 1904px) {
  .sec_1 .section_wrapper .content_wrapper h2 {
    font-size: clamp(30px, 8vw, 200px);
  }
}
.sec_1 .section_wrapper .content_wrapper h2 span {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: inline-block;
}
.sec_1 .section_wrapper .content_wrapper .three {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec_1 .section_wrapper .content_wrapper .four {
  display: flex;
  gap: 30px;
  align-items: center;
}
.sec_1 .section_wrapper .content_wrapper .diagonal_strip {
  position: absolute;
  right: -45px;
  top: 30px;
  max-width: 250px;
  z-index: 1;
}
.sec_1 .section_wrapper .content_wrapper .diagonal_strip .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: end;
}
.sec_1 .section_wrapper .content_wrapper .diagonal_strip .strip_content .content_itself {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sec_1 .section_wrapper .content_wrapper .diagonal_strip .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: start;
}
.sec_1 .section_wrapper .content_wrapper .diagonal_strip .strip_content .content_itself .text {
  justify-self: start;
  align-self: end;
  color: #000;
}
.sec_1 .section_wrapper .content_wrapper .diagonal_strip .strip_content .content_itself .text p {
  margin-bottom: 0;
  font-weight: bold;
  line-height: 1;
}

.for_strip {
  height: 100px;
  background-color: #000;
}

.sec_2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec_2 .section_wrapper {
  flex-shrink: 0;
  flex-grow: 1;
}
.sec_2 .section_wrapper .content_wrapper {
  font-size: 14px;
  position: relative;
  padding-block: 100px;
}
.sec_2 .section_wrapper .content_wrapper .left h2 {
  color: #f27221;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}
.sec_2 .section_wrapper .content_wrapper .right {
  overflow-x: hidden;
}
.sec_2 .section_wrapper .content_wrapper .right h2 {
  font-family: "qualey_freeregular";
  font-size: clamp(30px, 7vw, 100px);
}
.sec_2 .section_wrapper .content_wrapper .right p {
  max-width: 300px;
}
.sec_2 .section_wrapper .content_wrapper .floating_strip {
  position: absolute;
  top: -110px;
  left: 0;
  max-width: 230px;
}
.sec_2 .section_wrapper .content_wrapper .floating_strip .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: end;
}
.sec_2 .section_wrapper .content_wrapper .floating_strip .strip_content .content_itself {
  padding: 30px;
  display: flex;
  align-self: flex-start;
  width: 100%;
  justify-content: end;
}
.sec_2 .section_wrapper .content_wrapper .floating_strip .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: start;
}
.sec_2 .section_wrapper .content_wrapper .floating_strip .strip_content .content_itself .text {
  justify-self: start;
  align-self: end;
  color: #000;
}
.sec_2 .section_wrapper .content_wrapper .floating_strip .strip_content .content_itself .text p {
  margin-bottom: 0;
}

.shape_section .image_wrapper {
  position: relative;
}
.shape_section .image_wrapper img {
  max-width: 330px;
  display: inline-block;
  flex-shrink: 0;
  transform-origin: top right;
}
.shape_section .image_wrapper .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
  height: 100%;
  align-items: flex-start;
}
.shape_section .image_wrapper .strip_content .content_itself {
  padding: 30px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.shape_section .image_wrapper .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: end;
  transform: scaleX(-1);
  transform-origin: center;
}
.shape_section .image_wrapper .strip_content .content_itself .text {
  justify-self: start;
  align-self: start;
  color: #000;
  position: absolute;
  top: 30px;
  left: 30px;
}
.shape_section .image_wrapper .strip_content .content_itself .text p {
  margin-bottom: 0;
}

.sec_3 .section_wrapper {
  flex-shrink: 0;
  flex-grow: 1;
}
.sec_3 .section_wrapper .content_wrapper {
  font-size: 14px;
  position: relative;
  padding-bottom: 100px;
}
.sec_3 .section_wrapper .content_wrapper .right h2 {
  font-family: "qualey_freeregular";
  font-size: clamp(30px, 7vw, 100px);
  text-transform: uppercase;
}
.sec_3 .section_wrapper .content_wrapper .right h4 {
  max-width: 530px;
  padding-left: 50px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
}
.sec_3 .section_wrapper .content_wrapper .right p {
  max-width: 500px;
  padding-left: 50px;
}
.sec_3 .section_wrapper .content_wrapper .right .carousel_wrapper {
  margin-top: 40px;
  position: relative;
}
.sec_3 .section_wrapper .content_wrapper .right .carousel_wrapper .image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  border: 0.5px solid #b1b1b1;
  border-left: none;
  aspect-ratio: 1/1;
  padding: 50px;
  transition: all 7s ease-in-out;
}
.sec_3 .section_wrapper .content_wrapper .right .carousel_wrapper .image_wrapper:hover {
  background: rgb(250, 169, 101);
  background: linear-gradient(128deg, rgb(250, 169, 101) 21%, rgb(242, 96, 40) 61%);
  cursor: pointer;
}
.sec_3 .section_wrapper .content_wrapper .right .carousel_wrapper .image_wrapper img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sec_3 .section_wrapper .content_wrapper .right .carousel_wrapper .left_arrow {
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
}
.sec_3 .section_wrapper .content_wrapper .right .carousel_wrapper .swiper-wrapper:first-of-type.image_wrapper {
  border-left: 0.5px solid #b1b1b1;
}

.sec_4 .section_wrapper {
  flex-shrink: 0;
  flex-grow: 1;
}
.sec_4 .section_wrapper .content_wrapper {
  position: relative;
  font-size: 14px;
  overflow: hidden;
}
.sec_4 .section_wrapper .content_wrapper h2 {
  font-family: "qualey_freeregular";
  font-size: clamp(30px, 7vw, 100px);
}
.sec_4 .section_wrapper .content_wrapper .left h2 {
  color: #f27221;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.sec_4 .section_wrapper .content_wrapper .left p.para {
  position: relative;
  font-size: 14px;
}
.sec_4 .section_wrapper .content_wrapper .left p.para::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #f27221;
  position: absolute;
  top: -10px;
}
.sec_4 .section_wrapper .content_wrapper .left a.cta {
  color: inherit;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}
.sec_4 .section_wrapper .content_wrapper .left a.cta span {
  display: inline-block;
}
.sec_4 .section_wrapper .content_wrapper .right {
  padding-bottom: 300px;
}
.sec_4 .section_wrapper .content_wrapper .floating_block {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: end;
}
.sec_4 .section_wrapper .content_wrapper .floating_block .left2 {
  position: relative;
}
.sec_4 .section_wrapper .content_wrapper .floating_block .left2 .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
}
.sec_4 .section_wrapper .content_wrapper .floating_block .left2 .strip_content .content_itself {
  padding: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
}
.sec_4 .section_wrapper .content_wrapper .floating_block .left2 .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: start;
}
.sec_4 .section_wrapper .content_wrapper .floating_block .left2 .strip_content .content_itself .text {
  justify-self: start;
  align-self: end;
  color: #000;
}
.sec_4 .section_wrapper .content_wrapper .floating_block .left2 .strip_content .content_itself .text p {
  margin-bottom: 0;
}
.sec_4 .section_wrapper .content_wrapper .floating_block .left2 img {
  max-width: 130px;
}
.sec_4 .section_wrapper .content_wrapper .floating_block .right2 {
  padding: 30px;
}
.sec_4 .section_wrapper .content_wrapper .floating_block .right2 p {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.sec_4 .lower {
  padding-bottom: 50px;
}
.sec_4 .lower .image {
  position: relative;
}
.sec_4 .lower .image .diagonal_strip {
  max-width: 250px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(calc(-100% + 85px), calc(100% - 85px));
}
.sec_4 .lower .image .diagonal_strip .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: end;
  align-items: start;
}
.sec_4 .lower .image .diagonal_strip .strip_content .content_itself {
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
}
.sec_4 .lower .image .diagonal_strip .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: start;
}
.sec_4 .lower .text_wrapper {
  padding-left: 50px;
  padding-bottom: 20px;
}
.sec_4 .lower .text_wrapper h2 {
  color: #f27221;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.sec_4 .lower .text_wrapper p.para {
  position: relative;
  font-size: 14px;
}
.sec_4 .lower .text_wrapper p.para::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #f27221;
  position: absolute;
  top: -10px;
}
.sec_4 .lower .text_wrapper a.cta {
  color: inherit;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}
.sec_4 .lower .text_wrapper a.cta span {
  display: inline-block;
}

.sec_5 {
  background-color: #000;
  color: #fff;
  padding-top: 200px;
}
.sec_5 .section_wrapper .content_wrapper {
  font-size: 14px;
}
.sec_5 .section_wrapper .content_wrapper .left h2 {
  color: #f27221;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.sec_5 .section_wrapper .content_wrapper .left p.para {
  position: relative;
}
.sec_5 .section_wrapper .content_wrapper .left p.para::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #f27221;
  position: absolute;
  top: -10px;
}
.sec_5 .section_wrapper .content_wrapper .left a.cta {
  color: inherit;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}
.sec_5 .section_wrapper .content_wrapper .left a.cta span {
  display: inline-block;
}
.sec_5 .section_wrapper .content_wrapper .right {
  padding-bottom: 250px;
  position: relative;
}
.sec_5 .section_wrapper .content_wrapper .right .vertical_strip {
  position: absolute;
  right: 50%;
  max-width: 230px;
  transform: translate(60%, -50px);
}
.sec_5 .section_wrapper .content_wrapper .right .vertical_strip .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
}
.sec_5 .section_wrapper .content_wrapper .right .vertical_strip .strip_content .content_itself {
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.sec_5 .section_wrapper .content_wrapper .right .vertical_strip .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: start;
}
.sec_5 .lower {
  padding-block: 150px;
}
.sec_5 .lower .text_wrapper {
  padding-left: 50px;
  padding-bottom: 20px;
}
.sec_5 .lower .text_wrapper h2 {
  color: #f27221;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.sec_5 .lower .text_wrapper p.para {
  position: relative;
  font-size: 14px;
}
.sec_5 .lower .text_wrapper p.para::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #f27221;
  position: absolute;
  top: -10px;
}
.sec_5 .lower .text_wrapper a.cta {
  color: inherit;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
}
.sec_5 .lower .text_wrapper a.cta span {
  display: inline-block;
}

.sec_6 {
  background-color: #000;
  color: #fff;
  padding-block: 50px;
}
.sec_6 .section_wrapper .content_wrapper {
  font-size: 14px;
  overflow-x: hidden;
}
.sec_6 .section_wrapper .content_wrapper h2 {
  font-family: "qualey_freeregular";
  font-size: clamp(30px, 7vw, 100px);
}
.sec_6 .section_wrapper .content_wrapper h2:nth-of-type(2) {
  padding-left: 70px;
}
.sec_6 .section_wrapper .dual_scroll_container .swiper-pagination {
  display: none;
}
.sec_6 .section_wrapper .dual_scroll_container .left_carousel .v_one {
  max-height: 600px;
}
.sec_6 .section_wrapper .dual_scroll_container .left_carousel .swiper-slide {
  color: #fff;
}
.sec_6 .section_wrapper .dual_scroll_container .left_carousel .swiper-slide .sneak_wrapper {
  height: 100%;
}
.sec_6 .section_wrapper .dual_scroll_container .left_carousel .swiper-slide .sneak_wrapper img {
  height: calc(100% - 25px);
  -o-object-fit: cover;
     object-fit: cover;
}
.sec_6 .section_wrapper .dual_scroll_container .right_carousel .v_two {
  max-height: 600px;
}
.sec_6 .section_wrapper .dual_scroll_container .right_carousel .swiper-slide {
  color: #fff;
}
.sec_6 .section_wrapper .dual_scroll_container .right_carousel .swiper-slide .sneak_wrapper {
  height: 100%;
}
.sec_6 .section_wrapper .dual_scroll_container .right_carousel .swiper-slide .sneak_wrapper img {
  height: calc(100% - 25px);
  -o-object-fit: cover;
     object-fit: cover;
}
.sec_6 .section_wrapper .dual_scroll_container .dual_navigation {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
}
.sec_6 .section_wrapper .dual_scroll_container .dual_navigation .dual_prev, .sec_6 .section_wrapper .dual_scroll_container .dual_navigation .dual_next {
  cursor: pointer;
}
.sec_6 .section_wrapper .dual_scroll_container .dual_navigation .progress_bar span {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.sec_6 .section_wrapper .dual_scroll_container .dual_navigation .progress_bar span .swiper-pagination-custom {
  width: 100px;
  height: 2px;
  background: rgb(242, 114, 33);
  background: linear-gradient(90deg, rgb(242, 114, 33) 35%, rgb(255, 255, 255) 35%);
}

.sec_7 {
  padding-top: 96px;
  position: relative;
}
.sec_7 .section_wrapper .content_wrapper {
  font-size: 14px;
}
.sec_7 .section_wrapper .content_wrapper .sticky_strip {
  position: absolute;
  top: 0;
  z-index: 2;
}
.sec_7 .section_wrapper .content_wrapper .sticky_strip .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
}
.sec_7 .section_wrapper .content_wrapper .sticky_strip .strip_content .content_itself {
  padding: 30px;
  display: flex;
  width: 100;
}
.sec_7 .section_wrapper .content_wrapper .sticky_strip .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: start;
}
.sec_7 .section_wrapper .content_wrapper .own_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 150px;
}
.sec_7 .section_wrapper .content_wrapper .own_container .left img {
  max-width: 400px;
}
.sec_7 .section_wrapper .content_wrapper .own_container .right p {
  position: relative;
  font-size: 14px;
  max-width: 400px;
}
.sec_7 .section_wrapper .content_wrapper .own_container .right p::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #f27221;
  position: absolute;
  top: -10px;
}
.sec_7 .section_wrapper .content_wrapper .own_container .right a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: inherit;
  margin-left: 20%;
  font-weight: bold;
}
.sec_7 .section_wrapper .content_wrapper .own_container .right a span {
  display: inline-block;
  max-width: 40px;
}
.sec_7 .section_wrapper .content_wrapper .own_container .center_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec_7 .section_wrapper .content_wrapper .own_container .center_text h2 {
  font-family: "qualey_freeregular";
  font-size: clamp(30px, 7vw, 100px);
}

.sec_8 {
  padding-top: 96px;
  padding-bottom: 100px;
  position: relative;
  overflow-x: hidden;
}
.sec_8 .section_wrapper .content_wrapper {
  font-size: 14px;
  max-width: 800px;
  margin: auto;
}
.sec_8 .section_wrapper .content_wrapper .heading_wrapper {
  position: relative;
}
.sec_8 .section_wrapper .content_wrapper .heading_wrapper h2 {
  font-family: "qualey_freeregular";
  font-size: clamp(30px, 7vw, 100px);
  line-height: 0.8;
}
.sec_8 .section_wrapper .content_wrapper .heading_wrapper .diagonal_strip {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  max-width: 250px;
}
.sec_8 .section_wrapper .content_wrapper .heading_wrapper .diagonal_strip .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
}
.sec_8 .section_wrapper .content_wrapper .heading_wrapper .diagonal_strip .strip_content .content_itself {
  padding: 30px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.sec_8 .section_wrapper .content_wrapper .heading_wrapper .diagonal_strip .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: start;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper {
  padding-top: 50px;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper {
  padding-top: 100px;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-progress-bar {
  width: 600px;
  height: 4px;
  position: relative;
  margin: 5px auto 20px auto;
  background: #eeeeee;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-progress-bar .progress {
  height: inherit;
  left: 0;
  top: 0;
  position: absolute;
  background: #f27221;
  z-index: 1;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-progress-bar .progress-sections {
  left: 0;
  top: 0;
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: 2;
  display: flex;
  flex-direction: row;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-progress-bar .progress-sections span {
  flex: 1;
  height: inherit;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-progress-bar .progress-sections span:last-child {
  border-right-width: 0;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-counter {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-counter p.heading {
  font-weight: bold;
  margin-bottom: 0;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .card_wrapper img.hero {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 3px solid #f27221;
  margin-bottom: 15px;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .card_wrapper h3 {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .card_wrapper p {
  font-size: 14px;
  position: relative;
  margin-top: 30px;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .card_wrapper p::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: -10px;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .card_wrapper p.date {
  font-size: 10px;
  color: #000;
  position: static;
  margin-top: 0px;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .card_wrapper a.cta {
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 14px;
}
.sec_8 .section_wrapper .content_wrapper .columns_wrapper .card_wrapper a.cta span {
  max-width: 50px;
}

footer {
  background-color: #000;
  padding-block: 50px 100px;
  color: #fff;
}
footer .left {
  display: grid;
  place-items: center;
}
footer .left img {
  max-width: 200px;
}
footer .end ul {
  list-style: none;
}
footer .end ul li {
  margin-bottom: 5px;
}
footer .end a {
  font-size: 12px;
}
footer .end a:hover {
  color: #f27221;
}
footer .middle h3 {
  font-family: "qualey_freeregular";
}
footer .middle .contact_us_wrapper {
  display: flex;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}
footer .middle .contact_us_wrapper .contact {
  flex: 1 0 70%;
  border-right: 1px solid #fff;
  padding-block: 15px;
}
footer .middle .contact_us_wrapper .contact p {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 0px;
  padding-left: 10px;
}
footer .middle .contact_us_wrapper .cta {
  flex: 1 0 30%;
}
footer .middle ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 0px;
  margin-top: 20px;
}
footer .middle ul li {
  font-size: 12px;
}
footer .middle ul li a, footer .middle ul li div.a {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  cursor: pointer;
}
footer .middle ul li a:hover, footer .middle ul li div.a:hover {
  color: #f27221;
}
footer .middle ul li a .icon_wrapper, footer .middle ul li div.a .icon_wrapper {
  transform: rotate(-45deg);
  transition: transform 0.2s ease-in;
}
footer .middle ul li a .absoulte_block, footer .middle ul li div.a .absoulte_block {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 80px;
  padding: 7px;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  transform-origin: top;
  transform: translateY(100%) scaleY(0);
  transition: transform 0.2s ease-in;
}
footer .middle ul li a:hover .icon_wrapper, footer .middle ul li div.a:hover .icon_wrapper {
  transform: none;
}
footer .middle ul li a:hover .absoulte_block, footer .middle ul li div.a:hover .absoulte_block {
  transform: translateY(100%) scaleY(1);
}

.max-lines {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sec_1.about_us .section_wrapper .content_wrapper {
  max-width: 600px;
}

.about_us_sec2 .section_wrapper {
  flex-shrink: 0;
  flex-grow: 1;
}
.about_us_sec2 .section_wrapper .content_wrapper {
  font-size: 14px;
  position: relative;
  padding-block: 100px;
  max-width: 800px;
  margin: 0 auto;
}
.about_us_sec2 .section_wrapper .content_wrapper .right {
  overflow-x: hidden;
}
.about_us_sec2 .section_wrapper .content_wrapper .right h2 {
  font-family: "qualey_freeregular";
  font-size: clamp(30px, 7vw, 100px);
}
.about_us_sec2 .section_wrapper .content_wrapper .right p {
  max-width: 300px;
}
.about_us_sec2 .section_wrapper .content_wrapper .lower_strip .para_wrapper {
  position: relative;
  font-size: 14px;
  margin-top: 50px;
}
.about_us_sec2 .section_wrapper .content_wrapper .lower_strip .para_wrapper::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: -30px;
}
.about_us_sec2 .section_wrapper .content_wrapper .lower_strip .image_wrapper {
  display: flex;
  justify-content: end;
}
.about_us_sec2 .section_wrapper .content_wrapper .lower_strip .image_wrapper img {
  max-width: 250px;
  transform: translateY(-100px);
}
.about_us_sec2 .section_wrapper .content_wrapper .floating_strip {
  position: absolute;
  top: -110px;
  left: 0;
  max-width: 230px;
}
.about_us_sec2 .section_wrapper .content_wrapper .floating_strip .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: end;
}
.about_us_sec2 .section_wrapper .content_wrapper .floating_strip .strip_content .content_itself {
  padding: 30px;
  display: flex;
  align-self: flex-start;
  width: 100%;
  justify-content: end;
}
.about_us_sec2 .section_wrapper .content_wrapper .floating_strip .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: start;
}
.about_us_sec2 .section_wrapper .content_wrapper .floating_strip .strip_content .content_itself .text {
  justify-self: start;
  align-self: end;
  color: #000;
}
.about_us_sec2 .section_wrapper .content_wrapper .floating_strip .strip_content .content_itself .text p {
  margin-bottom: 0;
}

.about_us_sec3 {
  background-color: #000;
  color: #fff;
}
.about_us_sec3 .section_wrapper .content_wrapper {
  padding-block: 100px;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.about_us_sec3 .section_wrapper .content_wrapper .floating_block {
  position: absolute;
  top: -100px;
  right: 0;
  display: flex;
  align-items: end;
}
.about_us_sec3 .section_wrapper .content_wrapper .floating_block .left2 {
  position: relative;
}
.about_us_sec3 .section_wrapper .content_wrapper .floating_block .left2 .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
}
.about_us_sec3 .section_wrapper .content_wrapper .floating_block .left2 .strip_content .content_itself {
  padding: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
}
.about_us_sec3 .section_wrapper .content_wrapper .floating_block .left2 .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: start;
}
.about_us_sec3 .section_wrapper .content_wrapper .floating_block .left2 .strip_content .content_itself .text {
  justify-self: start;
  align-self: end;
  color: #000;
}
.about_us_sec3 .section_wrapper .content_wrapper .floating_block .left2 .strip_content .content_itself .text p {
  margin-bottom: 0;
}
.about_us_sec3 .section_wrapper .content_wrapper .floating_block .left2 img {
  max-width: 130px;
}
.about_us_sec3 .section_wrapper .content_wrapper .left h2 {
  font-family: "qualey_freeregular";
  font-size: clamp(30px, 7vw, 100px);
  line-height: 0.8;
}
.about_us_sec3 .section_wrapper .content_wrapper .left h2:first-of-type {
  padding-left: 50px;
}
.about_us_sec3 .section_wrapper .content_wrapper .right {
  padding-top: 250px;
  max-width: 450px;
}
.about_us_sec3 .section_wrapper .content_wrapper .right h2 {
  color: #f27221;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.about_us_sec3 .section_wrapper .content_wrapper .right .line {
  border-bottom: 1px solid #f27221;
  margin-bottom: 20px;
}
.about_us_sec3 .section_wrapper .content_wrapper .right a.cta {
  color: inherit;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}
.about_us_sec3 .section_wrapper .content_wrapper .right a.cta span {
  display: inline-block;
}

.sec_8.about {
  padding-top: 96px;
  padding-bottom: 100px;
  position: relative;
  background-color: #000;
  color: #fff;
}
.sec_8.about .section_wrapper .content_wrapper {
  font-size: 14px;
  max-width: 1030px;
  margin: 0 auto;
}
.sec_8.about .section_wrapper .content_wrapper .heading_wrapper {
  position: relative;
  padding-left: 300px;
}
.sec_8.about .section_wrapper .content_wrapper .heading_wrapper h2 {
  font-family: "qualey_freeregular";
  font-size: clamp(30px, 7vw, 100px);
  line-height: 0.8;
}
.sec_8.about .section_wrapper .content_wrapper .heading_wrapper .diagonal_strip {
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  z-index: 2;
  max-width: 250px;
}
.sec_8.about .section_wrapper .content_wrapper .heading_wrapper .diagonal_strip .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
}
.sec_8.about .section_wrapper .content_wrapper .heading_wrapper .diagonal_strip .strip_content .content_itself {
  padding: 30px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.sec_8.about .section_wrapper .content_wrapper .heading_wrapper .diagonal_strip .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: start;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper {
  padding-top: 50px;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper {
  padding-top: 100px;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-progress-bar {
  width: 600px;
  height: 4px;
  position: relative;
  margin: 5px auto 20px auto;
  background: #eeeeee;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-progress-bar .progress {
  height: inherit;
  left: 0;
  top: 0;
  position: absolute;
  background: #f27221;
  z-index: 1;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-progress-bar .progress-sections {
  left: 0;
  top: 0;
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: 2;
  display: flex;
  flex-direction: row;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-progress-bar .progress-sections span {
  flex: 1;
  height: inherit;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-progress-bar .progress-sections span:last-child {
  border-right-width: 0;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-counter {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .progress_bar_wrapper .swiper-counter p.heading {
  font-weight: bold;
  margin-bottom: 0;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .card_wrapper img.hero {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 3px solid #f27221;
  margin-bottom: 15px;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .card_wrapper h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  min-height: 55px;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .card_wrapper p {
  font-size: 14px;
  position: relative;
  margin-top: 30px;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .card_wrapper p::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: -10px;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .card_wrapper p.date {
  font-size: 10px;
  color: #000;
  position: static;
  margin-top: 0px;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .card_wrapper a.cta {
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.2s ease-in;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .card_wrapper a.cta span {
  max-width: 50px;
}
.sec_8.about .section_wrapper .content_wrapper .columns_wrapper .card_wrapper a.cta:hover {
  color: #f27221;
}

section.contact {
  padding-block: 200px 150px;
  color: #fff;
}
section.contact .left {
  background-color: #000;
  position: relative;
}
section.contact .left .image_wrapper {
  position: absolute;
  right: 50px;
  top: -96px;
}
section.contact .left .image_wrapper img {
  max-width: 330px;
  display: inline-block;
  flex-shrink: 0;
  transform-origin: top right;
}
section.contact .left .image_wrapper .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
  height: 100%;
  align-items: flex-start;
}
section.contact .left .image_wrapper .strip_content .content_itself {
  padding: 30px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
section.contact .left .image_wrapper .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: end;
  transform: scaleX(-1);
  transform-origin: center;
}
section.contact .left .image_wrapper .strip_content .content_itself .text {
  justify-self: start;
  align-self: start;
  color: #000;
  position: absolute;
  top: 30px;
  left: 30px;
}
section.contact .left .image_wrapper .strip_content .content_itself .text p {
  margin-bottom: 0;
}
section.contact .left .heading_wrapper {
  display: flex;
  align-items: center;
  padding: 70px 30px;
}
section.contact .left .heading_wrapper h2 {
  font-size: clamp(30px, 7vw, 100px);
  font-family: "qualey_freeregular";
  margin-bottom: 0;
}
section.contact .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
section.contact .right p {
  color: #000;
}
section.contact .right input, section.contact .right textarea {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  background-color: #f4f4f6;
  color: #000000;
  border: none;
  border-radius: 5px;
}
section.contact .right input::-moz-placeholder, section.contact .right textarea::-moz-placeholder {
  color: #D0D4D7;
}
section.contact .right input::placeholder, section.contact .right textarea::placeholder {
  color: #D0D4D7;
}
section.contact .right button {
  background-color: #F37221;
  border: 1px solid #F37221;
  font-weight: bold;
  padding: 5px 50px;
  border-radius: 20px;
}

section.sec_1.services .section_wrapper .content_wrapper {
  max-width: 690px;
}
@media only screen and (min-width: 1600px) {
  section.sec_1.services .section_wrapper .content_wrapper {
    max-width: 790px;
  }
}
section.sec_1.services .section_wrapper .content_wrapper h2 {
  line-height: 1;
}
section.sec_1.services .section_wrapper .content_wrapper .two {
  text-align: left;
}
section.sec_1.services .section_wrapper .content_wrapper .diagonal_strip {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

section.sec_2.services {
  background-color: #000;
  color: #fff;
}
section.sec_2.services .section_wrapper .content_wrapper {
  max-width: 800px;
  margin: 0 auto;
}
section.sec_2.services .section_wrapper .content_wrapper .main_heading h2 {
  font-size: clamp(30px, 7vw, 100px);
  font-family: "qualey_freeregular";
}
section.sec_2.services .section_wrapper .content_wrapper .left p {
  position: relative;
}
section.sec_2.services .section_wrapper .content_wrapper .left p::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #f27221;
  position: absolute;
  top: -30px;
}
section.sec_2.services .section_wrapper .content_wrapper .right {
  height: 100%;
}
section.sec_2.services .section_wrapper .content_wrapper .right img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.sec_2.services .section_wrapper .content_wrapper .right p {
  position: relative;
}
section.sec_2.services .section_wrapper .content_wrapper .right p::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: -30px;
}

.services_sec_3 .section_wrapper .content_wrapper {
  padding-block: 100px;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.services_sec_3 .section_wrapper .content_wrapper .image_wrapper {
  position: absolute;
  right: 0;
  top: -95px;
}
.services_sec_3 .section_wrapper .content_wrapper .image_wrapper img {
  max-width: 330px;
  display: inline-block;
  flex-shrink: 0;
  transform-origin: top right;
}
.services_sec_3 .section_wrapper .content_wrapper .image_wrapper .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
  height: 100%;
  align-items: flex-start;
}
.services_sec_3 .section_wrapper .content_wrapper .image_wrapper .strip_content .content_itself {
  padding: 30px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.services_sec_3 .section_wrapper .content_wrapper .image_wrapper .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: end;
  transform: scaleX(-1);
  transform-origin: center;
}
.services_sec_3 .section_wrapper .content_wrapper .image_wrapper .strip_content .content_itself .text {
  justify-self: start;
  align-self: start;
  color: #000;
  position: absolute;
  top: 30px;
  left: 30px;
}
.services_sec_3 .section_wrapper .content_wrapper .image_wrapper .strip_content .content_itself .text p {
  margin-bottom: 0;
}
.services_sec_3 .section_wrapper .content_wrapper .heading_wrapper h2 {
  font-size: clamp(30px, 7vw, 100px);
  font-family: "qualey_freeregular";
  line-height: 1;
}
.services_sec_3 .section_wrapper .content_wrapper .left .image_wrapper2 {
  max-width: 300px;
}
.services_sec_3 .section_wrapper .content_wrapper .left .image_wrapper2 img {
  position: relative;
  z-index: -1;
}
.services_sec_3 .section_wrapper .content_wrapper .right .para_wrapper {
  position: relative;
  margin-top: 20px;
}
.services_sec_3 .section_wrapper .content_wrapper .right .para_wrapper::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #f27221;
  position: absolute;
  top: -20px;
}

section.sec_4.services {
  padding-bottom: 150px;
}
section.sec_4.services .section_wrapper .content_wrapper {
  max-width: 800px;
  margin: 0 auto;
}
section.sec_4.services .section_wrapper .content_wrapper .left h2 {
  margin-bottom: 80px;
}
section.sec_4.services .section_wrapper .content_wrapper .left p.para::before {
  content: none;
}
section.sec_4.services .section_wrapper .content_wrapper .left p.para:first-of-type::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #f27221;
  position: absolute;
  top: -30px;
}
section.sec_4.services .section_wrapper .content_wrapper .right {
  display: flex;
  justify-content: end;
}
section.sec_4.services .section_wrapper .content_wrapper .right img {
  max-width: 600px;
}

section.sec_5.services {
  padding-block: 100px;
}
section.sec_5.services .section_wrapper .content_wrapper {
  max-width: 800px;
  margin: 0 auto;
}
section.sec_5.services .section_wrapper .content_wrapper .heading_wrapper {
  position: relative;
}
section.sec_5.services .section_wrapper .content_wrapper .heading_wrapper .parent {
  max-width: 500px;
  margin-inline: auto;
  margin-bottom: 20px;
}
section.sec_5.services .section_wrapper .content_wrapper .heading_wrapper .parent h2 {
  font-size: clamp(30px, 7vw, 100px);
  font-family: "qualey_freeregular";
}
section.sec_5.services .section_wrapper .content_wrapper .heading_wrapper .diagonal_strip {
  position: absolute;
  left: 0;
  top: -185px;
  max-width: 250px;
}
section.sec_5.services .section_wrapper .content_wrapper .heading_wrapper .diagonal_strip .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: end;
  align-items: start;
}
section.sec_5.services .section_wrapper .content_wrapper .heading_wrapper .diagonal_strip .strip_content .content_itself {
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
}
section.sec_5.services .section_wrapper .content_wrapper .heading_wrapper .diagonal_strip .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: start;
}
section.sec_5.services .section_wrapper .content_wrapper .left p.para::before {
  content: none;
}
section.sec_5.services .section_wrapper .content_wrapper .right .fish {
  max-width: 500px;
}
section.sec_5.services .section_wrapper .content_wrapper .right .vertical_strip {
  transform: translate(50%, -50px) scaleX(-1);
}
section.sec_5.services .lower {
  max-width: 800px;
  margin: 0 auto;
}
section.sec_5.services .lower .lower_heading {
  font-size: clamp(30px, 7vw, 100px);
  font-family: "qualey_freeregular";
  color: #fff;
}
section.sec_5.services .lower .heading_wrapper h2 {
  font-size: clamp(30px, 7vw, 100px);
  font-family: "qualey_freeregular";
  margin-left: auto;
}
section.sec_5.services .lower .text_wrapper {
  padding-left: 0;
}
section.sec_5.services .lower .text_wrapper p::before {
  content: none;
}

section.sec_3.services {
  padding-top: 100px;
}
section.sec_3.services .section_wrapper .content_wrapper .right .heading_wrapper {
  position: relative;
}
section.sec_3.services .section_wrapper .content_wrapper .right .heading_wrapper h2 {
  line-height: 1;
}
section.sec_3.services .section_wrapper .content_wrapper .right .heading_wrapper h2:first-of-type {
  padding-left: 100px;
  margin-bottom: 20px;
}
section.sec_3.services .section_wrapper .content_wrapper .right .heading_wrapper .image_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-70%, -50%);
  transform-origin: right bottom;
}
section.sec_3.services .section_wrapper .content_wrapper .right .heading_wrapper .image_wrapper img {
  max-width: 330px;
  display: inline-block;
  flex-shrink: 0;
  transform-origin: top right;
}
section.sec_3.services .section_wrapper .content_wrapper .right .heading_wrapper .image_wrapper .strip_content {
  position: absolute;
  inset: 0;
  display: flex;
  height: 100%;
  align-items: flex-start;
}
section.sec_3.services .section_wrapper .content_wrapper .right .heading_wrapper .image_wrapper .strip_content .content_itself {
  padding: 30px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
section.sec_3.services .section_wrapper .content_wrapper .right .heading_wrapper .image_wrapper .strip_content .content_itself img {
  max-width: 30px;
  justify-self: end;
  align-self: end;
  transform: scaleX(-1);
  transform-origin: center;
}
section.sec_3.services .section_wrapper .content_wrapper .right .heading_wrapper .image_wrapper .strip_content .content_itself .text {
  justify-self: start;
  align-self: start;
  color: #000;
  position: absolute;
  top: 30px;
  left: 30px;
}
section.sec_3.services .section_wrapper .content_wrapper .right .heading_wrapper .image_wrapper .strip_content .content_itself .text p {
  margin-bottom: 0;
}
section.sec_3.services .section_wrapper .content_wrapper .right h4, section.sec_3.services .section_wrapper .content_wrapper .right p {
  padding-left: 0;
}
section.sec_3.services .section_wrapper .content_wrapper .right .carousel_wrapper .image_wrapper {
  aspect-ratio: unset;
}
section.sec_3.services .section_wrapper .content_wrapper .right .carousel_wrapper .image_wrapper img {
  max-width: 200px;
  max-height: auto;
}

section.sec_8.services .section_wrapper .content_wrapper .heading_wrapper h2:nth-of-type(2) {
  padding-left: 0;
}

section#thegrandmasterstroke .section_wrapper .content_wrapper {
  max-width: 630px;
}
@media only screen and (min-width: 1600px) {
  section#thegrandmasterstroke .section_wrapper .content_wrapper {
    max-width: 830px;
  }
}
section#thegrandmasterstroke .section_wrapper .content_wrapper h2 {
  line-height: 1;
}
section#thegrandmasterstroke .section_wrapper .content_wrapper .two {
  text-align: left;
}
section#thegrandmasterstroke .section_wrapper .content_wrapper .diagonal_strip {
  right: 0;
  bottom: auto;
  left: auto;
  top: 140px;
}

.thegrandmasterstroke_adj {
  transform: translate(-20px, -27px) !important;
}

section#thechessboard .section_wrapper .content_wrapper {
  max-width: 630px;
}
@media only screen and (min-width: 1600px) {
  section#thechessboard .section_wrapper .content_wrapper {
    max-width: 830px;
  }
}
section#thechessboard .section_wrapper .content_wrapper h2 {
  line-height: 1;
}
section#thechessboard .section_wrapper .content_wrapper .two {
  padding-left: 100px;
  text-align: left;
}
section#thechessboard .section_wrapper .content_wrapper .diagonal_strip {
  right: 0;
  bottom: auto;
  left: auto;
  top: 130px;
}

section#thepaparazzinoise .section_wrapper .content_wrapper {
  max-width: 630px;
}
@media only screen and (min-width: 1600px) {
  section#thepaparazzinoise .section_wrapper .content_wrapper {
    max-width: 830px;
  }
}
section#thepaparazzinoise .section_wrapper .content_wrapper h2 {
  line-height: 1;
}
section#thepaparazzinoise .section_wrapper .content_wrapper .two {
  padding-left: 0px;
  text-align: left;
}

section#themoodslayboard .section_wrapper .content_wrapper {
  max-width: 630px;
}
@media only screen and (min-width: 1600px) {
  section#themoodslayboard .section_wrapper .content_wrapper {
    max-width: 830px;
  }
}
section#themoodslayboard .section_wrapper .content_wrapper h2 {
  line-height: 1;
}
section#themoodslayboard .section_wrapper .content_wrapper .two {
  padding-left: 0px;
  text-align: left;
}
section#themoodslayboard .section_wrapper .content_wrapper .diagonal_strip {
  right: 80px;
  bottom: auto;
  left: auto;
  top: 160px;
}

section#clientele .section_wrapper .content_wrapper {
  max-width: 830px;
}
section#clientele .section_wrapper h2 {
  line-height: 1;
}
section#clientele .section_wrapper .two {
  text-align: center;
  padding-left: 0px;
}
section#clientele .section_wrapper .diagonal_strip {
  right: -10%;
  bottom: auto;
  left: auto;
  top: 50%;
}

.row-gap-4 {
  row-gap: 20px;
}

section#careers.sec_1 .section_wrapper h2 {
  line-height: 1;
}
section#careers.sec_1 .section_wrapper .two {
  text-align: center;
  padding-left: 0px;
}
section#careers.sec_1 .section_wrapper .diagonal_strip {
  right: 60px;
}

#jobsWrapper .right h4.careers {
  font-size: 18px;
  max-width: 100%;
}
#jobsWrapper a.job-toggler {
  display: block;
  padding: 10px 14px;
  margin-bottom: 7px;
  border: 1px solid #f27221;
  color: #000;
  background: #fff;
}
#jobsWrapper a.job-toggler.active {
  color: #fff;
  background: linear-gradient(to left, #F4A662, #f27221);
}
#jobsWrapper #job-description {
  scroll-margin-top: clamp(40px, 10vh, 150px);
}
#jobsWrapper #job-description .title {
  font-size: 24px;
  color: #f27221;
}
#jobsWrapper #job-description .breif {
  font-size: 18px;
}
#jobsWrapper #job-description .job {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
#jobsWrapper #job-description .job[job-status=active] {
  height: 100%;
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.2s ease-in-out 0.2s;
}
#jobsWrapper #job-description .accordion-item {
  border: none;
  padding-bottom: 20px;
  border-bottom: 1px solid #f27221;
}
#jobsWrapper #job-description .accordion-item:not(:first-child) {
  margin-top: 40px;
}
#jobsWrapper #job-description .accordion-item h2 {
  display: flex;
  gap: 20px;
}
#jobsWrapper #job-description .accordion-item h2 .btn:active {
  box-shadow: none;
}
#jobsWrapper #job-description .accordion-item h2 button {
  border-radius: 0;
  color: #fff;
  padding: 7px 14px;
  background-color: #f27221;
}
#jobsWrapper #job-description .accordion-item h2 button:focus {
  box-shadow: none;
}
#jobsWrapper #job-description .accordion-item h2 button.accordion-button {
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: none;
}
#jobsWrapper #job-description .accordion-item h2 button.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #f27221;
}
#jobsWrapper #job-description .accordion-item h2 button.accordion-button::after {
  content: none;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.mainFormCSS input, .mainFormCSS textarea, .mainFormCSS select {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  background-color: #f4f4f6;
  color: #000000;
  border: none;
  border-radius: 5px;
}
.mainFormCSS input::-moz-placeholder, .mainFormCSS textarea::-moz-placeholder, .mainFormCSS select::-moz-placeholder {
  color: #D0D4D7;
}
.mainFormCSS input::placeholder, .mainFormCSS textarea::placeholder, .mainFormCSS select::placeholder {
  color: #D0D4D7;
}
.mainFormCSS select {
  color: #D0D4D7;
}
.mainFormCSS select.active {
  color: #000;
}
.mainFormCSS button {
  background-color: #F37221;
  border: 1px solid #F37221;
  font-weight: bold;
  padding: 5px 50px;
  border-radius: 20px;
}

.sec_3 .section_wrapper .content_wrapper .right .contact_info {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-block: 20px;
}
.sec_3 .section_wrapper .content_wrapper .right .contact_info > * {
  width: 100%;
}
.sec_3 .section_wrapper .content_wrapper .right .contact_info a {
  color: #f27221;
  transition: color 0.1s ease-in-out;
}
.sec_3 .section_wrapper .content_wrapper .right .contact_info a:hover {
  color: #F4A662;
}
.sec_3 .section_wrapper .content_wrapper .right .contact_info p {
  padding: 0;
}

.sec_3#intro {
  overflow-x: hidden;
}

.h-full {
  height: 100%;
}

.newText25 {
  opacity: 0;
}/*# sourceMappingURL=style.css.map */